.background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 500px 0 0;
  position: absolute; 
  overflow: hidden;
  background: url('../assets/BANNER.png');
  background-repeat: repeat;
  opacity: 100%;
  animation: background_anim 25s linear infinite;
  opacity: 100%;
  resize: none;
  z-index: -100;

}

@keyframes background_anim{
  0%{background-position: 0 0;}
  100%{background-position: -1784px 0;}

}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background: lavender;
}

.contenu {
  background-color: white;
  width: max-content;
  margin-left:auto;
  margin-right:auto;
  border: 2px black solid;
  margin-top: 4%;
  border-radius: 30px;
  padding: 30px;
  padding-top: 0px;
}

.homepage_logo{
  width: max-content;
  margin:auto;
}

.homepage_logo:hover {
  transform: translate(0px, 10px);
  transition: transform 1s;
}

.background_homepage{
 
  width: max-content;
  margin:auto;
  margin-top:5px;
  border: 2px black solid;
  background-color: white;
  padding-bottom: 120px;
  padding-right:20px;
  padding-left:20px
}


.navbar{
  display: flex;

}

.navbar > * > a {
  text-decoration: none;
  color:white;
  text-shadow: 2px 2px black;
  margin:10px;
}


.homepage_box {
  width: max-content;
  display:flex;
  margin:auto;
}

.homepage_box a:nth-child(2n + 1){
  transform: translateY(100px)
}

.iconArrow {
  transform: translateY(6px);
}

.tableCell {
  min-width:80px;
  text-align:center;
}

.contentPanel {
  
}



